<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.tzsc.mapper.CommentMapper">

    <select id="getCommentsByCommodityId" resultType="Comments" parameterType="Comments">
		select comid, comcid,comusername,comcontent,to_char(comdate,'yyyy-MM-DD') from comments where comcid = #{comcid}
	</select>
	
	<insert id="insertComments" parameterType="Comments" >	
        insert into comments values(seq_comments.nextval,#{comcid,jdbcType=NUMERIC},#{comcontent,jdbcType=VARCHAR},#{comusername,jdbcType=VARCHAR},sysdate)
	</insert>
	
</mapper>

