<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.tzsc.mapper.SousuoMapper">

	<!-- 定义sql变量 -->
	<sql id="selectCommodity">
		select * from t_commodity
	</sql>
	
	<select id="menuNo" resultType="MinType" parameterType="int">
		select * from t_mintype where tid = #{menuNo}
	</select>
	
	<select id="find" resultType="Commodity" parameterType="String">
		select * from t_commodity where cname like #{param} or cdescribe like #{param}
	</select>
	
	<!-- 使用嵌套查询到的方式处理分页 -->
	<resultMap type="PaginationBean" id="paginationBeanMap">
		<id property="currPage" column="currPage"/>
		<result property="pageSize" column="pageSize"/>
		<collection property="rows" column="{pageSize=pageSize, currPage=currPage}" ofType="Commodity" select="getSousuo"/>
	</resultMap>
	
	<select id="listPartSousuo" parameterType="PaginationBean" resultMap="paginationBeanMap">
		select count(1) total, ceil(count(1) / ${pageSize}) totalPage, ${pageSize} pageSize, ${currPage} currPage from t_commodity
	</select>
	
	<select id="getSousuo" resultType="Commodity">
		select * from
		(select m.*,rownum rn from
		(<include refid="selectCommodity"/> order by 1 desc) m where  ${currPage} * ${pageSize} >= rownum) where rn > (${currPage}-1) * ${pageSize}
	</select>
	
	<!-- 根据id查询名称 -->
	<select id="selectMinTypeName" resultType="MinType" parameterType="int">
		select * from t_mintype where mid = #{strNo}
	</select>
	
	<select id="sousuoStr" parameterType="Commodity" resultType="Commodity">
	
		select * from t_commodity where cname like '%${cmessage}%' or cname like '%${cadminname}%'
	</select>
</mapper>

